- if user_signed_in?
  - subscription = Subscription.find_by group_id: @group.id, user_id: current_user
  - if subscription
    = button_to t('buttons.subscription.delete'), subscription_path(subscription), method: :delete
  - else
    = button_to t('buttons.subscription.create'),   subscriptions_path(group_id: @group.id, user_id: current_user)
- else
  #{link_to 'Sign in', new_user_session_path} to subscribe.
