/ Apple Touch Icon
%link{:href => asset_path 'favicon/apple-touch-icon.png', :rel => "apple-touch-icon", :sizes => "180x180"}/
/ Favicon
%link{:href => asset_path 'favicon/favicon-32x32.png', :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => asset_path 'favicon/favicon-16x16.png', :rel => "icon", :sizes => "16x16", :type => "image/png"}/
/ Web Manifest
%link{:href => asset_path 'favicon/site.webmanifest', :rel => "manifest"}/
/ Safari Mask Icon
%link{:color => "#00a300", :href => asset_path 'favicon/safari-pinned-tab.svg', :rel => "mask-icon"}/
/ Favicon .ico for IE
%link{:href => asset_path 'favicon/favicon.ico', :rel => "shortcut icon"}/
/ App name
%meta{:content => "eotc-helper", :name => "apple-mobile-web-app-title"}/
%meta{:content => "eotc-helper", :name => "application-name"}/
/ MS Start Menu
%meta{:content => "#00a300", :name => "msapplication-TileColor"}/
%meta{:content => asset_path 'favicon/browserconfig.xml', :name => "msapplication-config"}/
/ Theme Color
%meta{:content => "#ffffff", :name => "theme-color"}/
